.inputCell {
    border: none;
    outline: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: .2rem;
}

.inputCell:focus {
    padding: .2rem;
    background-color: aliceblue;
}

.inputCell:hover {
    background-color: lightgray;
}