.headerCell {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    display: flex;
}

.line {
    border-left: 1px solid black;
    cursor: w-resize;
}

.headerCell-empty {
    min-width: 3rem;
    max-width: 3rem;
    min-height: 2rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}